aiofiles==24.1.0
apsw==3.46.1.0
argcomplete==3.4.0
async-timeout==4.0.3
attrs==23.2.1.dev0
autocommand==2.2.2
beautifulsoup4==4.12.3
blinker==1.7.0
Brlapi==0.8.6
Brotli==1.1.0
brotlicffi==1.1.0.0
build==1.2.2
CacheControl==0.14.0
cachy==0.3.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
cleo==2.1.0
click==8.1.7
colorama==0.4.6
crashtest==0.4.1
cryptography==42.0.8
css-parser==1.0.10
cssselect==1.2.0
Cython==3.0.11
defusedxml==0.7.1
distlib==0.3.8
distro==1.9.0
dnspython==2.6.1
docutils==0.21.2
dulwich==0.22.2
evdev==1.7.1
fastjsonschema==2.20.0
faust-cchardet==2.1.19
feedparser==6.0.11
filelock==3.13.3
Flask==2.3.3
gpg==1.23.2
greenlet==3.0.3
html2text==2024.2.26
html5-parser==0.4.12
html5lib==1.1
idna==3.8
ifaddr==0.2.0
inflate64==1.0.0
inflect==7.4.0
installer==0.7.0
itsdangerous==2.1.2
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.2
jaraco.text==4.0.0
jeepney==0.8.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keyring==25.2.1
lark==1.1.9
lensfun==0.3.4
libfdt==1.7.1
libtorrent==2.0.10
libvirt-python==10.8.0
lit==18.1.8.dev0
lockfile==0.12.2
louis==3.31.0
lxml==5.3.0
lxml_html_clean==0.2.0
Mako==1.3.5.dev0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mechanize==0.4.10
meson==1.5.2
more-itertools==10.3.0
msgpack==1.0.5
multidict==6.0.5
multivolumefile==0.2.3
netifaces==0.11.0
netsnmp-python==1.0a1
nftables==0.1
numpy==2.1.2
ordered-set==4.1.0
packaging==24.1
pdftotext==2.2.2
pexpect==4.9.0
pillow==10.4.0
pipenv==2024.1.0
pipx==1.6.0
pkginfo==1.10.0
platformdirs==4.3.6
playwright==1.45.1
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
psutil==6.0.0
psycopg2==2.9.9
ptyprocess==0.7.0
pwquality==1.4.5
py7zr==0.22.0
pybcj==1.0.2
pybind11==2.13.6
pycairo==1.27.0
pychm==0.8.6
pycparser==2.22
pycryptodome==3.21.0
pycryptodomex==3.20.0
pyee==11.1.0
Pygments==2.18.0
PyGObject==3.50.0
pyinotify==0.9.6
PyOpenGL==3.1.7
pyppmd==1.1.0
pyprland==2.4.0
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.15.0
PyQt6==6.8.0.dev2410141303
PyQt6-WebEngine==6.7.0
PyQt6_sip==13.8.0
pyquery==2.0.0
pyrsistent==0.19.3
PySide6==6.8.0.1
PySocks==1.7.1
python-dateutil==2.9.0
pyzstd==0.16.2
rapidfuzz==3.6.2
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.2
rpds-py==0.19.0
SecretStorage==3.3.3
setuptools==69.5.1
sgmllib3k==1.0.0
shellingham==1.5.4
shiboken6==6.8.0.1
shiboken6-generator==6.8.0.1
six==1.16.0
soupsieve==2.6
systemd-python==235
TBB==0.2
texttable==1.7.0
tomli==2.0.1
tomlkit==0.13.2
torbrowser-launcher==0.3.7
tqdm==4.66.5
trove-classifiers==2024.9.17
typeguard==4.3.0
typing_extensions==4.12.2
uc-micro-py==1.0.3
ufw==0.36.2
unrardll==0.1.7
urllib3==1.26.20
userpath==1.9.2
validate-pyproject==0.20.2
virtualenv==20.26.2
virtualenv-clone==0.5.7
webencodings==0.5.1
Werkzeug==3.0.1
wheel==0.44.0
wxPython==4.2.1
xxhash==3.4.1
yt-dlp==2024.10.7
zeroconf==0.132.2
zstandard==0.22.0
